@page "/hotel-room";
@using Models
@using Business.Repository.IRepository;
@inject IHotelRoomRepository HotelRoomRepository;
@inject IJSRuntime JSRuntime;
@inject HiddenVilla_Server.Service.IService.IFileUpload FileUpload;
@inject NavigationManager NavigationManager; 
@*@attribute [Authorize(Roles = Common.SD.ROLE_ADMIN)]*@

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">Hotel Room's</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="hotel-room/create" class="btn btn-info form-control">Add new Room</NavLink>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Occupancy</th>
                    <th>Rate</th>
                    <th>Sq ft.</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @if (HotelRooms.Any())
                {
                    @foreach (var room in HotelRooms)
                    {
                        <tr>
                            <td>@room.Name</td>
                            <td>@room.Occupancy</td>
                            <td>@room.RegularRate.ToString("c")</td>
                            <td>@room.SqFt</td>
                            <td>
                                <NavLink href="@($"hotel-room/edit/{room.Id}")" class="btn btn-primary">Edit</NavLink>
                                <button class="btn btn-danger" @onclick="()=>HandleDelete(room.Id)">Delete</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<DeleteConfirmation ConfirmationChanged="ConfirmDelete_Click" IsParentComponentProcessing="IsProcessing"></DeleteConfirmation>

@code {
    private IEnumerable<HotelRoomDto> HotelRooms { get; set; } = new List<HotelRoomDto>();
    private int? DeleteRoomId { get; set; } = null;
    private bool IsProcessing { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        HotelRooms = await HotelRoomRepository.GetAllHotelRooms();
    }

    private async Task HandleDelete(int roomId)
    {
        DeleteRoomId = roomId;
        await JSRuntime.InvokeVoidAsync("ShowDeleteConfirmationnModal");
    }

    public async Task ConfirmDelete_Click(bool isCOnfirmed)
    {

        if (isCOnfirmed && DeleteRoomId.HasValue)
        {
            IsProcessing = true;
            HotelRoomDto hotelRoom = await HotelRoomRepository.GetHotelRoom(DeleteRoomId.Value);

            foreach (var image in hotelRoom.HotelRoomImages)
            {
                var imageName = image.RoomImageUrl.Replace($"{NavigationManager.BaseUri}RoomImages/", "");
                FileUpload.DeleteFile(imageName);
            }

            await HotelRoomRepository.DeleteHotelRoom(DeleteRoomId.Value);
            await JSRuntime.ToastrSuccess("Deleted!");

            HotelRooms = await HotelRoomRepository.GetAllHotelRooms();

            await JSRuntime.InvokeVoidAsync("HideDeleteConfirmationnModal");
            IsProcessing = false;
        }
    }
}
